@tailwind base;
@tailwind components;
@tailwind utilities;

.secondary {
  color: #525252;
}

/* .article {
  height: calc(100vh - 112px);
  margin: 10px;
  padding: 20px;
} */
.sign-in {
  height: calc(100vh - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
}
.image-container {
  background-image: url(/anonymous.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .image-container {
    background-image: url(/mobile-mask.webp);
    background-size: cover;
  }
}

.main-bg {
  /* background-image: url(/desktop-bg.webp);
  background-size: cover;
  background-repeat: no-repeat; */
}

@media screen and (max-width: 767px) {
  .main-bg {
    /* background-image: url(/mobile-bg.webp);
    background-size: cover; */
  }
}

@media screen and (max-width: 640px) {
  .image-container-username {
    max-height: 220px;
  }
}

.image-container-username {
  background-image: url(/username.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .image-container-username {
    background-image: url(/username-mobile-2.webp);
    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .image-container {
    max-height: 220px;
  }
}

@media screen and (min-width: 768px) {
  .article {
    height: calc(100% - 200px);
  }
}

.header-title {
  margin-left: 20px;
}
